# --- Node.js (Backend) ---
backend/node_modules/
backend/.env
backend/npm-debug.log*

# --- Angular (Frontend) ---
frontend/node_modules/
frontend/.angular/
frontend/dist/
frontend/tmp/
frontend/npm-debug.log*

# --- IDEs & System ---
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Database / Backups ---
*.sql
*.backup